/* -----colors------ */

.magenta-bg {
  background-color: #e91572;
}

.magenta {
  color: #e91572 !important;
}

.teal-bg {
  background-color: #3bf3d7;
}

.teal {
  color: #3bf3d7 !important;
}

.blue-bg {
  background-color: #56d0fa;
}

.blue {
  color: #56d0fa !important;
}

.lime-bg {
  background-color: #e4f20b;
}

.lime {
  color: #e4f20b !important;
}

.purple-bg {
  background-color: #6b1dbe;
}

.purple {
  color: #6b1dbe !important;
}

.green-bg {
  background-color: #1cc70e;
}

.green {
  color: #1cc70e !important;
}

.App {
  text-align: center;
}
.font-link {
  font-family: "Open Sans", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

/* ------------NAV SECTION--------------  */

#nav {
  background-color: #56d0fa;
}

/* ------------HEADER SECTION--------------  */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font: white;
}

#background {
  display: block;
  background-image: url(images/farm.png);
  background-size: 100%;
  background-color: yellowgreen;
  height: 30vh;
}

#description {
  display: block;
  border: solid 1px lightgreen;
  background-color: #56d0fa;
  border-radius: 25px;
  margin-top: -25px;
  padding: 2rem 2rem 40px 2rem;
  top: 35vh;
}

#videodiv {
  display: flex;
  justify-content: center;
  position: relative;
  height: 250px;
}

#videodiv > .chicken {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -15px;
  left: 130px;
}

#videoWindow {
  /* width: 56%; */
  border-radius: 25px;
  border: green 4px solid;
  z-index: 10;
  position: absolute;
  top: -30px;
}

/* ------------Characters section--------------  */

.characterDivs {
  display: flex;
  height: 45vh;
  top: 10vh;
  justify-content: space-between;
  padding: 1px;
}

.descBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 2rem 3rem;
  border-radius: 25px;
}

.descBox button {
  background-color: white;
  font-weight: 900;
  width: 70%;
  margin: 0 auto;
  border: none;
}

.desc {
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.imageHolder {
  display: flex;
  flex-direction: row;
}

/* --------------VideoSection--------------  */

.videoSection h1 {
  font-family: "Open Sans", sans-serif;
  margin-top: 50px;
  color: red;
  font-size: 35px;
}

.currentVideoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Currentvideo {
  width: 460px;
  height: 265px;
  padding: 2vh;
}

.videos svg {
  padding: 2vh;
}

.nextVids {
  display: flex;
  flex-direction: column;
}

.vids {
  width: 460px;
  height: 265px;
}

.divRow1 {
  display: flex;
  justify-content: space-evenly;
}

.divRow2 {
  padding-top: 2vh;
  display: flex;
  justify-content: space-evenly;
}

/* ------------------Follow section---------------  */
#followSection h1 {
  /* font-family: "Open Sans", sans-serif; */
  margin-top: 50px;
  font-weight: 800;
  font-size: 40px;
}

.followLinks {
  display: flex;
  justify-content: space-evenly;
  padding: 5vh;
}

.tiktokLogo {
  width: 100px;
  height: 100px;
}

/* ------------------Footer section---------------  */

/* .footerSection p {
  padding: 1vh;
} */

.firstFooter {
  color: white;
  display: flex;
  width: 100%;
}

.firstFooter div {
  border-radius: 30px;
  width: 100%;
}

.firstFooter h1 {
  font-size: 35px;
  text-align: left;
  margin-top: -10px;
}

.firstFooter p {
  text-align: left;
}

.midImage {
  height: 15vh;
}

.secondFooter div {
  color: white;
  width: 100%;
  border-radius: 15px;
  padding-top: 100px;
  text-align: right;
}

.secondFooter td {
  border-radius: 30px;
  width: 100%;
}

.secondFooter h1 {
  font-size: 35px;
  text-align: right;
  padding-right: 20px;
}

.disclaimer {
  font-weight: bolder;
}
/* ------------ About page ------------- */
.aboutSection {
  font-size: 20px;
  background-color: #56d0fa;
  border-radius: 25px;
  z-index: inherit;
}

.aboutSection h1 {
  margin-top: 0;
  text-align: left;
  color: white;
  padding-left: 1vh;
}

.aboutSection p {
  margin-top: 0;
  text-align: left;
  color: white;
  padding-left: 1vh;
}

.chikita {
  display: flex;
  flex-direction: column;
}

.aboutDescriptions {
  border-radius: 25px;
  font-size: 18px;
  color: whitesmoke;
  margin: 1vh;
}

.aboutDescriptions p {
  padding: 30px;
}

.chikita .aboutDescriptions {
  background-color: #e91572;
}

.chikita h1 {
  text-align: left;
  padding-left: 5px;
}

/* NOT SURE ABOUT THIS ONE ----------------------------- */
.coco {
  display: flex;
  justify-content: flex-end;
}

.coco .aboutDescriptions {
  background-color: #65f3d7;
  width: 45%;
}

.coco p {
  font-size: 18px;
  padding-top: 25px;
  text-align: center;
}

.tBone {
  display: flex;
  flex-direction: row-reverse;
}

.tBone .aboutDescriptions {
  background-color: #56d0fa;
  width: 100%;
}

.tBone img {
}

.tBone p {
  font-size: 18px;
  position: relative;
  text-align: left;
}

.henwee .aboutDescriptions {
  background-color: #e2ed3a;
  width: 50%;
}

.wacky .aboutDescriptions {
  background-color: #7152be;
  width: 95%;
}

.rooster .aboutDescriptions {
  background-color: #63c828;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}


/* /// contact page ------------------ */

#contactPage {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.formDiv {
  margin-top: 250px;
  border-radius: 15px;
  background-color: #56d0fa;
  padding-bottom: 25px;
}

.formDiv h1 {
  margin-top: -13px;
  color: white;
}

#emailForm {
  display: flex;
  flex-direction: column;
}

.nameAndEmail {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 5%;
}

#emailForm input {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#emailForm textarea {
  border-radius: 10px;
  margin-top: 10px;
  height: 230px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
}

#emailForm button {
  border-radius: 10px;
  width: 20%;
  margin-left: 5%;
  background-color: red;
  color: white;
}

#emailForm button h3 {
  margin-top: 5px;
  color: white
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
