/* -----font------ */

/* !!!!!!!!! Need to use this font for all H-tags !!!!!!!!! */

p {
  font-size: 15px;
}


/* -----colors------ */

.yellow-bg {
  background-color: #f9da15;
}

.yellow {
  color: #f9da15 !important;
}

.magenta-bg {
  background-color: #e91572;
}

.magenta {
  color: #e91572 !important;
  font-family: "Roboto" !important;
}

.teal-bg {
  background-color: #3bf3d7;
}

.teal {
  color: #3bf3d7 !important;
  font-family: "Roboto" !important;
}

.blue-bg {
  background-color: #56d0fa;
}

.blue {
  color: #56d0fa !important;
  font-family: "Roboto" !important;
}

.lime-bg {
  background-color: #e4f20b;
}

.lime {
  color: #e4f20b !important;
  font-family: "Roboto" !important;
}

.purple-bg {
  background-color: #6b1dbe;
}

.purple {
  color: #6b1dbe !important;
  font-family: "Roboto" !important;
}

.green-bg {
  background-color: #1cc70e;
}

.green {
  color: #1cc70e !important;
  font-family: "Roboto" !important;
}

.App {
  text-align: center;
}
.font-link {
  font-family: "Roboto" !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

/* ------------NAV SECTION--------------  */


nav {
width: 100%;
height: 134px;
align-items: center;
padding: 0;
display:flex;
justify-content: space-evenly;
}

#logoDiv {
  height: 115px;
  width: 173px;
}

#logoDiv img {
  height: 100%;
  width: 100%;
}

ul {
  padding-left: 100px;
  display: flex;
  align-items: center;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

li {
  padding: 15px 20px;
}

/* ------------HEADER SECTION--------------  */

#headerBanner {
  position: relative;
  width: 100%;
  height: 170px;
  z-index: -10;
}

.welcomeDiv {
  color: white;
  border-radius: 40px;
  height: 600px;
  margin-top: -25px;
  z-index: 10;
}

.welcomeDiv h1 {
  font-size: 30px;
  padding: 10px;
}

.welcomeDiv p {
  padding: 10px;
  font-size: 15px;
}

#videoDiv {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 94%;
}

.chicken {
  position: absolute;
  bottom: -120px;
  left: -5px;
}

#videoWindow {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 25px;
  border: green solid 5px;
  z-index: 10;
  top: -45px;
}

/* ------------Character SECTION--------------  */

.characterSection {
  padding-top: 160px;
}

.imgAndName {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}


.imgAndName h1 {
  font-size: 40px;
}

.charDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.col {
  flex-direction: column-reverse !important;
}


.charImgDivs {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 173px;
  width: 131px;
}

.charImgDivBone {
  margin-right: auto;
  position: relative;
  height: 173px;
  width: 131px;
}

.charImgDivRooster {
  margin-left: auto;
  position: relative;
  height: 173px;
  width: 131px;
}

.charImgDivs img {
  height: 100%;
  width: 100%
}

#tBoneImg {
  height: 100%;
  width: 100%
}

#broosterImg {
  height: 100%;
  width: 100%
}

.descBox {
  border-radius: 40px;
  color: white;
  height: 335px;
  /* padding-bottom: 25px; */
}

.funFacts {
  text-align: right;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 25px;
}

.descBox li {
  direction: rtl;
  text-align: right;
  padding-top: 0;
  padding-right: 50px;
}

.descBox button {
  padding-top: 10px;
  text-align: center;
  width: 50%;
  height: 40px;
  font-size: 40px;
  background-color: white;
}

.buttonDiv {
margin-top: 30px;
}

button h2 {
  font-size: 17px;
}

/* ------------VIDEO SECTION--------------  */

#imgDiv {
  height: 135px;
  width: 156px;
}

#imgDiv img {
  height: 100%;
  width: 100%;
}

.topDiv h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 30px;
}

.moreVidSection {
  position: relative;
  height: 211px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.vid {
  border-radius: 15px;
  box-shadow: 3px 5px grey;
  padding-top: 10px;
  height: 100%;
  width: 100%;
}

/* ------------lyrics SECTION--------------  */

#lyricsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 300px;
}

#lyricsSection p {
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

/* ------------follow SECTION--------------  */
#followSection {
  position: relative;
  padding-top: 80px;
  padding-bottom: 120px;
}


#followSection h1 {
  font-size: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.followLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.followLinks img {
  margin: 10px;
  height: 65px;
  width: 50px;
}

/* !!!!!!!! remember to change this display when destop view */
#potatoBag {
  height: 113px;
  width: 107px;
  left: -18px;
  bottom: 0;
  position: absolute;
}

#potatoBag2 {
  position: absolute;
  height: 114px;
  width: 95px;
  right: -5px;
  bottom: 10px
}

/* ------------story SECTION--------------  */

.whySugarRush div {
border-radius: 50px;
}

.whySugarRush h1 {
  padding-top: 10px;
  margin-top: 20px;
  }

.whySugarRush p {
    color: white;
  }

.midImageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 192px;
  width: 100%;
  }

.midImageDiv img { 
  margin-bottom: -45px;
  height: 100%;
  width: 176px;
  }

  .historyWithSon div {
    border-radius: 40px;
  }

  .historyWithSon h1 {
    padding-top: 25px;
    color: white;
    text-align: right;
  }

  .historyWithSon p {
    color: white;
    text-align: left;
  }

  /* ------------footer SECTION--------------  */

  .footBanner {
    width: 100%;
    height: 97px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .footBanner img {
    height: 100%;
    width: 100%;
  }
