/* -----font------ */

/* !!!!!!!!! Need to use this font for all H-tags !!!!!!!!! */



/* -----colors------ */

.magenta-bg {
  background-color: #e91572;
}

.magenta {
  color: #e91572 !important;
  font-family: "Roboto" !important;
}

.teal-bg {
  background-color: #3bf3d7;
}

.teal {
  color: #3bf3d7 !important;
  font-family: "Roboto" !important;
}

.blue-bg {
  background-color: #56d0fa;
}

.blue {
  color: #56d0fa !important;
  font-family: "Roboto" !important;
}

.lime-bg {
  background-color: #e4f20b;
}

.lime {
  color: #e4f20b !important;
  font-family: "Roboto" !important;
}

.purple-bg {
  background-color: #6b1dbe;
}

.purple {
  color: #6b1dbe !important;
  font-family: "Roboto" !important;
}

.green-bg {
  background-color: #1cc70e;
}

.green {
  color: #1cc70e !important;
  font-family: "Roboto" !important;
}

.App {
  text-align: center;
}
.font-link {
  font-family: "Roboto" !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

/* ------------NAV SECTION--------------  */

#nav {
  background-color: #56d0fa;
}

#nav h3 :hover {
  color: #e91572 !important;
}

/* .navbar-nav w-100 justify-content-around {
  margin-left: 10%;
  margin-right: 10%;
} */

#logo {
  position: absolute;
  top: -12px;
  left: -30px;
  height: 17vh;
  width: 17%;
  z-index: 10;
}

/* ------------HEADER SECTION--------------  */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header h2 {
  font-family: "Roboto" !important;
  font-size: 18px;
  font: white;
}

#background {
  display: block;
  background-image: url(images/farm.png);
  background-size: 100%;
  background-color: yellowgreen;
  height: 30vh;
}

#banner {
  width: 100%;
  z-index: -10;
  position: relative;
}

.bannerDiv {
  z-index: -10;
}

#description {
  display: block;
  border: solid 1px lightgreen;
  background-color: #56d0fa;
  border-radius: 25px;
  margin-top: -25px;
  padding: 2rem 2rem 40px 2rem;
  top: 35vh;
  z-index: 10;
}

#videodiv {
  display: flex;
  justify-content: center;
  position: relative;
  height: 250px;
}

#videodiv > .chicken {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -15px;
  left: 100px;
}

#videoWindow {
  /* width: 56%; */
  border-radius: 25px;
  border: green 4px solid;
  z-index: 10;
  position: absolute;
  top: -30px;
}

/* ------------Characters section--------------  */

.characterDivs img {
  height: 380px;
}
.characterDivs {
  display: flex;
  height: 50vh;
  top: 10vh;
  justify-content: space-between;
  padding: 1px;
}

.descBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 2rem 3rem;
  border-radius: 25px;
}

.descBox button {
  background-color: white;
  font-weight: 900;
  width: 70%;
  margin: 0 auto;
  border: none;
}

.desc {
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.imageHolder {
  display: flex;
  flex-direction: row;
}

#chickita {
  position: absolute;
  left: 180px;
  height: 350px;
}

#chickitaName {
  position: absolute;
  left: 400px;
  top: 1200px;
}

#coco {
  position: absolute;
  right: 400px;
}

#brooster {
  right: 70px;
}

/* --------------VideoSection--------------  */

.videoSection h1 {
  margin-top: 50px;
  color: red;
  font-size: 35px;
}

.currentVideoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Currentvideo {
  /* width: 460px;
  height: 265px;
  padding: 2vh; */
}

.videos svg {
  padding: 2vh;
}

.nextVids {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px;
}

.vids {
  width: 460px;
  height: 265px;
}

.divRow1 {
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}

.divRow2 {
  padding-top: 2vh;
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}

/* ------------------Follow section---------------  */
#followSection h1 {
  margin-top: 50px;
  font-weight: 800;
  font-size: 40px;
}

.followLinks {
  display: flex;
  justify-content: space-evenly;
  padding: 5vh;
}

.tiktokLogo {
  width: 100px;
  height: 100px;
}

.youtubeLogo {
  width: 100px;
  height: 100px;
}

/* ------------------Story section---------------  */

/* .footerSection p {
  padding: 1vh;
} */

.whySugarRush {
  color: white;
  display: flex;
  width: 100%;
}

.whySugarRush div {
  border-radius: 30px;
  width: 100%;
}

.whySugarRush h1 {
  font-size: 35px;
  text-align: left;
  margin-top: -10px;
}

.whySugarRush p {
  text-align: left;
}

.midImageDiv {
  position: relative;
  height: 250px;
  width: 70%;
}

.midImage {
  width: 350px;
  position: absolute;
  top: -40px;
}

.historyWithSon div {
  color: white;
  width: 100%;
  border-radius: 15px;
  padding-top: 100px;
  text-align: center;
}

.historyWithSon td {
  border-radius: 30px;
  width: 100%;
}

.historyWithSon h1 {
  font-size: 35px;
  text-align: right;
  padding-right: 20px;
}


/* /// footer section ------------- */

.footer > img {
  width: 70%;
}
.disclaimer {
  font-weight: bolder;
}

/* ------------ About page ------------- */
#aboutBanner {
  width: 100%;
  position: relative;
}

#landscapeBanner {
  width: 100%;
}

.aboutSection {
  position: absolute;
  font-size: 20px;
  margin-top: -20px;
  background-color: #56d0fa;
  border-radius: 25px;
  z-index: inherit;
}

.aboutSection h1 {
  margin-top: 0;
  text-align: left;
  color: white;
  padding-left: 1vh;
}

.aboutSection p {
  margin-top: 0;
  text-align: left;
  color: white;
  padding-left: 1vh;
}

.aboutAnimals {
  margin-top: 100vh;
}

.grid {
  padding-top: 200px;
}

.aboutDivs {
  display: flex;
  height: 50vh;
  top: 10vh;
  justify-content: space-between;
  padding: 1px;
}

.aboutDescriptions {
  border-radius: 25px;
  margin-bottom: 13vh;
  font-size: 18px;
  color: whitesmoke;
}

.aniPics {
  position: absolute;
}

.chikita {
  display: flex;
  text-align: left;
}

.chikita h1 {
margin-top: -12px;
margin-left: 5%;
padding: 0px;
}

.chikita p {
  margin-left: 5%;
  }

#chikitaImage {
  height: 60vh;
  left: 33.35vw;
  top: 110vh;
}

.chikita .aboutDescriptions {
  background-color: #e91572;
  height: 33vh;
}

/* NOT SURE ABOUT THIS ONE ----------------------------- */
.coco {
  display: flex;
  justify-content: flex-end;
}

.coco .aboutDescriptions {
  background-color: #65f3d7;
  width: 45%;
}

.coco p {
  font-size: 18px;
  padding-top: 25px;
  text-align: center;
}

.tBone {
  display: flex;
  flex-direction: row-reverse;
}

.tBone .aboutDescriptions {
  background-color: #56d0fa;
  width: 100%;
}

.tBone img {
}

.tBone p {
  font-size: 18px;
  position: relative;
  text-align: left;
}

.henwee .aboutDescriptions {
  background-color: #e2ed3a;
  width: 50%;
}

.wacky .aboutDescriptions {
  background-color: #7152be;
  width: 95%;
}

.rooster .aboutDescriptions {
  background-color: #63c828;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* /// contact page ------------------ */

#contactPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formDiv {
  margin-top: -34px;
  padding-top: 25px;
  border-radius: 15px;
  background-color: #56d0fa;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.formDiv h1 {
  margin-top: -13px;
  color: white;
}

#emailForm {
  display: flex;
  flex-direction: column;
}

.nameAndEmail {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 10%;
}

#emailForm input {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#emailForm textarea {
  border-radius: 10px;
  margin-top: 10px;
  height: 230px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}

#emailForm button {
  border-radius: 10px;
  margin-left: 40%;
  margin-right: 40%;
  background-color: red;
  color: white;
}

#emailForm button h3 {
  margin-top: 5px;
  color: white;
}

.grid {
  margin-top: -90px;
  display: flex;
  flex-direction: column;
}

.houseContact {
  width: 50%;
}

.followUsContact {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contactLinkWrap {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contactFollowLinks {
  display: flex;
  
  height: 100px;
  width: 100px;
}

.row1Contact {
  display: flex;
}

.row2Contact {
  display: flex;
  flex-direction: row-reverse;
}

.contactImgs {
  display: flex;
  justify-content:flex-end;
}

#tBoneContact {
  position: absolute;
  right: 45%;
  top: 1280px;
}

#wackyContact {
  display: flex;
}


/* /// Media section /// */

.pressRoomSection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -20px;
  background-color: #56d0fa;
  color: #e91572;
  border-radius: 15px;
  height: 35vh;
  z-index: inherit;
}

.featuredSection {
  padding-top: 38vh;
}

.featuredImgs {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin: 30px;
}

.articleSection h2 {
  text-align: left;
  margin-left: 5%;
}

.articleSection h3 {
  text-align: left;
  margin-left: 10%;
}

.articleSection p {
  text-align: left;
  margin-left: 10%;
}

.articleSection img {
  text-align: left;
  border-radius: 15px;
  width: 40%;
}

.mediaArticles {
  display: flex;
  margin: 5%;
}

#dogDancing {
  border-bottom: solid #56d0fa 5px;
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.roboto {
  font-family: "Roboto" !important;
}