p {
    font-size: 15px;
  }

  ul {
    list-style: none;
    text-decoration: none;
  }
  li {
    text-decoration: none;
  }
  
  @font-face {
    font-family: 'Hello Farmer';
    src: local('Hello Farmer'), url(./fonts/Hello\ Farmer.ttf)
  }
  
  .farmer {
    font-family: 'Hello Farmer';
  }
  
  /* -----colors------ */
  
  .yellow-bg {
    background-color: #f9da15;
  }
  
  .yellow {
    color: #f9da15 !important;
  }
  
  .magenta-bg {
    background-color: #e91572;
  }
  
  .magenta {
    color: #e91572 !important;
  }
  
  .teal-bg {
    background-color: #3bf3d7;
  }
  
  .teal {
    color: #3bf3d7 !important;
  }
  
  .blue-bg {
    background-color: #56d0fa;
  }
  
  .blue {
    color: #56d0fa !important;
  }
  
  .lime-bg {
    background-color: #e4f20b;
  }
  
  .lime {
    color: #e4f20b !important;
  
  }
  
  .purple-bg {
    background-color: #6b1dbe;
  }
  
  .purple {
    color: #6b1dbe !important;
  }
  
  .green-bg {
    background-color: #1cc70e;
  }
  
  .green {
    color: #1cc70e !important;
  }
  

  
  @media only screen and (min-width: 1024px) {

    body {
      margin: 0;
      text-align: center;
    }

    html {
      max-width: 1440px;
    }

    .App {
      max-width: 1440px;
      margin: 0 auto
    }
    
    .App-logo {
      height: 40vmin;
      pointer-events: none;
    }
    
    .App-link {
      color: #61dafb;
    }
  
     /* ---------NAV SECTION----------  */

     .nav {
      position: relative;
      display: flex;
      justify-content: center;
      background-color: #56d0fa;
      height: 137.42px;
      width: 100%;
    } 

    .nav a {
      text-decoration: none;
    }
    
    .navIcons {
      margin-left: 20%;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
    }
    
    .navIcons h1 {
      color: white;
    }
    
    .nav a :hover {
      color: red;
      font-size: 2em;
    }
    
    #logoDiv {
      position: absolute;
      height: 122.56px;
      width: 237px;
      left: 5px;
      top: 15px
    }
    
    #navLogo {
      width:100%;
      height: 122.56px;
      left: 0px;
    }

    /* ---------HEADER SECTION----------  */

    #headerBanner {
      position: relative;
      height: 421px;
      width: 100%;
      z-index: -10;
    }
    
    #headerBanner img {
      height: 100%;
      width: 100%;
    }

    .welcomeDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -40px;
      border-radius: 25px;
      width: 100%;
      background-color: #56d0fa;
      z-index: 10;
    }

    .welcomeDiv h1 {
      margin-top: 25px;
      color: white;
      font-size: 60px;
      
    }

    .welcomeText {
      color: white;
      font-size: 32px;
      letter-spacing: 0;
      min-height: 175.72px;
      width: 100%
    }

    #videoDiv {
      display: flex;
      justify-content: center;
      position: relative;
      height: 250px;
    }
    
    #videoDiv > .chicken {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    
    #videoWindow {
      height: 420px;
      width: 72%;
      border-radius: 25px;
      border: green 4px solid;
      z-index: 10;
      margin-top: -100px;
    }

     /* ---------Character SECTION----------  */
  .characterSection {
    position: relative;
    margin-top: 50px;
  }

  .funFacts {
    font-size: 50px;
    margin-right: 56px;
    margin-bottom: 0;
    text-align: right;
  }

  .characterSection li {
    color: white;
    font-size: 40px;
    direction: rtl;
    text-align: right;
    margin-right: 56.04px;
  }

  .characterSection h1 {
    font-size: 80px;
    margin-bottom: 0;
  }

  .charDiv {
    display: flex;
    height: 613px;
    width: 100%;
  }

  #chickitaChar {
    position: absolute;
    top: 0;
    left: 0;
  }

  .imgAndName {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 50%;
    margin-bottom: 0;
  }

  .nameLeft {
    padding-right: 50px;
    text-align: right;
    color: white;
    left: 0;
    bottom: 0;
  }

  .left {
    text-align: right;
    color: white;
    left: 0;
    bottom: 0;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: left;
    color: white;
    left: 0;
    bottom: 0;
    padding-left: 50px;
  }

  .descBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 25px;
    width: 50%;
    height: 100%;
  }

  .descBox h2 {
    color: white;
  }

  .buttonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .descBox button {
    background-color: white;
    text-align: center;
    border-radius: 15px;
    height: 80px;
    width: 250px;
  }

  .descBox button h2 {
    font-size: 30px;
    text-align: center;
  }

  .charImgDivRooster {
    margin-top: -150px;
    height: 325px;
    width: 475px;
  }

  #broosterImg {
    margin-top: -200px
  }

   /* ---------VIDEO SECTION----------  */

 .topDiv {
  position: relative;
  margin-top: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
 }


 .topDiv h1 {
   display: flex;
   width: 100%;
   justify-content: center;
   font-size: 80px;
   font-weight: 800;
   align-items: center;
}

.moreVidSection {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.vid {
  border-radius: 15px;
  margin: 15px;
}

/* ---------Lyrics SECTION----------  */

.lyricsSection {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.lyricsSection h1 {
  font-size: 40px;
}

.lyricsSection p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
}

/* ------------------Follow section---------------   */
#followSection h1 {
  margin-top: 50px;
  font-weight: 800;
  font-size: 40px;
}

.followLinks {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 200px;
}

.tiktokLogo {
  margin-top: 50px;
  width: 199px;
  height: 199px;
}

#imgDiv {
  position: absolute;
}

.youtubeLogo {
  margin-top: 50px;
  width: 199px;
  height: 199px;
}

#potatoBag {
  position: absolute;
  left: -15px;
  bottom: 5px;
}

#potatoBag2 {
  position: absolute;
  right: 0;
  bottom: 5px;
}

/* ------------------Story section---------------  */

/* .footerSection h1 {
  font-size: 80px;
}

.footBanner {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 347px;
  margin-top: 100px;
  margin-bottom: 100px;
} */

.footBanner img {
  height: 100%;
  width: 100%;

}

.storySection h1 {
  font-size: 80px important!;
  text-align: left;
  margin-top: -10px;
}

.storySection p {
  font-size: 32px;
padding: 1px;
}

.whySugarRush {
  color: white;
  display: flex;
  height: 700px;
  width: 100%;
  text-align: left;
}

.whySugarRush div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  width: 100%;
}

.whySugarRush h1 {
  width: 90%;
  font-size: 60px;
  text-align: left;
  margin-top: -54px;
  padding-left: 71px;
}

.whySugarRush p {
  font-size: 32px;
  padding-left: 71px;
  padding-right: 71px;
}

.midImageDiv {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  position: relative;
  height: 250px;
  width: 70%;
}

.midImage {
  width: 556px;
  height: 606px;
  position: absolute;
  left: 400px;
  top: -300px;
}

.historyWithSon div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  width: 100%;
  height: 720px;
  margin-top: -100px;
}

.historyWithSon h1 {
  color: white;
  width: 90%;
  font-size: 60px;
  text-align: right;
  margin-top: -54px;
  padding-left: 52px;
}

.historyWithSon p {
  color: white;
  font-size: 32px;
  padding-left: 71px;
  padding-right: 71px;
  text-align: right;
}

.storySection h2 {
  text-align: right;
  margin: 5%;
}

}